@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    font-family: outfit;
}
.navbar {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 30px; 
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 70px;
   margin-top: 0;
  padding-top: 0; 
}
.navbar-right{
  padding-bottom: 20px;
  padding-right: 20px;
}
.navbar img{
  padding-bottom: 20px;
}
.logo {
 height: 90px;
 object-fit: contain;
 display: block;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.navbar-menu li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-menu li:hover {
  color: #007BFF;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}



.signin-button {
  padding: 6px 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #0056b3;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}
.navbar li{
    cursor:pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top:-8px;
    right: -8px;
}
.navbar-menu li a {
  text-decoration: none;
  color: #333;
}

.navbar-menu li.active a {
  font-weight: bold;
  color: #007BFF;
}
